 <%- include('./partials/header.ejs') %>
  <script src="/script/dateConverter.js"></script>
  <div class="right-bar">
    <h2 class="custom-heading custom-card">User Profile</h2>
    <div class="custom-card">
      <% if(data){ %>
        <div class="user-name">
          <img src="<%= data.avatar%>" alt="img" />
          <span>
            <%= data.name%>
          </span>
        </div>
        <%}%>
          <div class="user-profile-deatils mt-4">
            <% if(data){ %>
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <button class="nav-link active" id="general" data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button" role="tab" onclick="window.location.hash='general'">
                    General
                  </button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="friends" data-bs-toggle="pill" data-bs-target="#pills-profile"
                    type="button" role="tab" onclick="getUserFriends('<%=data._id%>')">
                    Friends
                  </button>
                </li>
                <%if(groupEnabled==true){%>
                  <li class="nav-item">
                    <button class="nav-link" id="groups" data-bs-toggle="pill" data-bs-target="#pills-contact"
                      type="button" role="tab" onclick="getUserGroups('<%=data._id%>')">
                      Groups
                    </button>
                  </li>
                  <%}%>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home">
                  <div class="edit-profile-fields">
                    <% if(data){ %>
                      <div class="edit-profile-fields-heading">
                        <h3>Details</h3>
                        <a href="/user-profile-edit?id=<%=data._id%>" class="edit-button">Edit</a>
                      </div>
                      <div class="row custom-form">
                        <div class="col-md-6">
                          <ul class="commom_form_edit">
                            <li>
                              <span class="custom-form-title">Name</span>
                              <span class="custom-form-desc">
                                <%= data.name%>
                              </span>
                            </li>
                            <li>
                              <span class="custom-form-title">UID</span>
                              <span class="custom-form-desc">
                                <%= data.uid%>
                              </span>
                            </li>
                            <li>
                              <span class="custom-form-title">Role</span>
                              <span class="custom-form-desc">
                                <%= data.role%>
                              </span>
                            </li>
                            <li>
                              <span class="custom-form-title">Tags</span>
                              <span class="custom-form-desc">
                                <%= data.tags%>
                              </span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul class="commom_form_edit">
                            <li>
                              <span class="custom-form-title">Avatar</span>
                              <span class="custom-form-desc">
                                <a href="<%= data.avatar%>">
                                  <%= data.avatar%>
                                </a>
                              </span>
                            </li>
                            <li>
                              <span class="custom-form-title">Link</span>
                              <span class="custom-form-desc">
                                <a href="<%= data.link%>">
                                  <%= data.link%>
                                </a>
                              </span>
                            </li>
                            <li>
                              <span class="custom-form-title">About</span>
                              <span class="custom-form-desc">
                                <%= data.about%>
                              </span>
                            </li>
                            <li>
                              <span class="custom-form-title">Created</span>
                              <span class="custom-form-desc">
                                <%= data.createdAt %>
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <% } %>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile">
                  <div class="user-profile-deatils">
                    <div class="user-profile-deatils-inner">
                      <div class="section-header">
                        <a class="add_import" onclick="addUserFriend('<%=data._id%>')"><i class="fi fi-rs-plus"></i></a>
                        <div class="custom-form-section section-header-form">
                          <div class="section-header-form-item _search">
                            <input type="text" class="form-control" placeholder="Search" />
                            <i class="fi fi-rs-search"></i>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped" id="user_friends"></table>
                        <div id="loader" class="loader-overlay loader-main">
                          <div class="loader">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-contact">
                  <div class="user-profile-deatils">
                    <div class="user-profile-deatils-inner">
                      <div class="section-header">
                        <a class="add_import" onclick="addUserGroup('<%=data._id%>')"><i class="fi fi-rs-plus"></i></a>
                        <div class="custom-form-section section-header-form">
                          <div class="section-header-form-item _search">
                            <input type="text" class="form-control" placeholder="Search" />
                            <i class="fi fi-rs-search"></i>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table table-striped" id="usergroups"></table>
                        <div id="loader" class="loader-overlay loader-main">
                          <div class="loader">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
          </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>

    <!-- Delete Modal -->
    <div class="modal fade delete-modal" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="delete-content">
            <img src="images/remove.png" alt="delete img" class="delete-img" />
            <h3>Are you sure?</h3>
            <p id="deleteConfiramtionMessage"></p>
            <div class="delete-content-btn">
              <button type="button" class="btn btn-danger" id="confirmDeleteUser" onclick="">
                Delete
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Deactivate Modal -->
    <div class="modal fade delete-modal" id="deactivateModal" tabindex="-1" aria-labelledby="deactivateModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="delete-content">
            <img src="images/remove.png" alt="delete img" class="delete-img" />
            <h3>Are you sure?</h3>
            <p id="deactivateConfirmationMessage"></p>
            <div class="delete-content-btn">
              <button type="button" class="btn btn-danger" id="confirmDeactiveUser" onclick="">
                Deactivate
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- unfriend Modal -->
    <div class="modal fade delete-modal" id="unfriendModal" tabindex="-1" aria-labelledby="deactivateModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="delete-content">
            <img src="images/remove.png" alt="delete img" class="delete-img" />
            <h3>Are you sure?</h3>
            <p id="unfriendConfirmationMessage"></p>
            <div class="delete-content-btn">
              <button type="button" class="btn btn-danger" id="confirmUnfriendUser" onclick="">
                Deactivate
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Activate Modal -->
    <div class="modal fade delete-modal" id="activateModal" tabindex="-1" aria-labelledby="activateModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="delete-content">
            <img src="images/remove.png" alt="delete img" class="delete-img" />
            <h3>Are you sure?</h3>
            <p>Do you want really want do activate this user</p>
            <div class="delete-content-btn">
              <button type="button" class="btn btn-success" id="confirmActivateUser" onclick="">
                Activate
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="custom-card">
            <div class="custom-card-info">
              <h4>Add User</h4>
              <!-- <p>fact, inserting any fantasy text or a famous text, be it a poem, a speech, a literary passage, a song's text, etc.</p> -->
            </div>
            <div class="row custom-form-section">
              <div class="col-md-12">
                <form class="form">
                  <div class="form-group">
                    <input type="hidden" id="adduserid" name="user" value="" />
                    <label for="adduser">Select User to add friend.</label>
                    <select class="formmultiselect" name="users" multiple="multiple" id="adduser"></select>
                  </div>
                  <button id="addUserFriend" class="btn btn-primary">Save</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Group Modal -->
    <div class="modal fade" id="addUserGroupModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="custom-card">
            <div class="custom-card-info">
              <h4>Add Group</h4>
              <!-- <p>fact, inserting any fantasy text or a famous text, be it a poem, a speech, a literary passage, a song's text, etc.</p> -->
            </div>
            <div class="row custom-form-section">
              <div class="col-md-12">
                <form class="form">
                  <div class="form-group">
                    <input type="hidden" id="addusergroupid" name="user" value="" />
                    <label for="addGroup">Select User to add into group.</label>
                    <select class="formmultiselect" name="groups" multiple="multiple" id="addGroup"></select>
                  </div>
                  <button id="addUserGroup" class="btn btn-primary">Save</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $(".formmultiselect").select2();
      });
    </script>
    <script src="/script/group.js"></script>
    <script>
      let user = '<%=data._id%>';
      function getUserGroups(user) {
        $(".loader-main").css("display", "flex")
        window.location.hash = "groups";
        user = user || user;
        $.ajax({
          url: `/get-user-group?user=${user}`,
          method: "GET",
          success: (response) => {
            handleUserGroup(response);
            $(".loader-main").css("display", "none")
          },
          error: (error) => {
            $(".loader-main").css("display", "none")
          },
        });
      }

      function handleUserGroup(response) {
        let content = "";
        if (!response.data.count) {
          content += `<div class="alert alert-warning text-center" role="alert" style="margin:15px;">
        This user has not joined any group yet.
        </div>`;
          $("#usergroups").html(content);
          return;
        }
        content = handleDataTable(response);
        $("#usergroups").html(content);
      }

      function handleDataTable(response) {
        let content = `<thead>
                    <tr>
                      <th>Sr.</th>
                      <th>Name</th>
                      <th>Group ID</th>
                      <th>Type</th>
                      <th>Created</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>`;
        for (let i = 0; i < response.data.count; i++) {
          const row = response.data.groups[i];
          const type =
            row.type == 0
              ? "Private"
              : row.type == 1
                ? "Public"
                : "Password Protected";
          content += `<tr role="row">
      <td> ${i + 1} </td>
      <td>
          <img src=${row.avatar} class="tabel-user-img">
          <a href="/group-profile?id=${row._id
            }" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit"> ${row.name
            }</a>
          </td>
          <td class="group-id">${row._id}
          </td>
          <td>${type}</td>
          <td>${dateConverter(row.createdAt)}</td>
          <td>
          <div class="action-button">${`<a href=""/group-profile?id=${row._id}" class="delete-btn">
                <i class="fi fi-rs-eye"></i>
              <span class="tooltiptext">View</span>
            </a>`} ${row.users.status == 1
              ? `<a href="javascript:void(0)" class="delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="deactivateModal" onClick="deactivateButton(this.id ,'${row.name}','${row.user}')" id="${row._id}"><i class="fi fi-rs-ban"></i> <span class="tooltiptext">Deactivate</span></a>`
              : `<a href="javascript:void(0)" class="delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Activate" onClick="activateButton(this.id, '${row.name}','${row.user}')" id="${row._id}"><i class="fi fi-rs-check"></i> <span class="tooltiptext">Activate</span></a>`
            } </div>
          </td>
      </tr>`;
        }
        content += `</tbody>`;
        return content;
      }

      function deactivateButton(id, name, user) {
        $("#deactivateConfirmationMessage").html(
          `you want to deactivate <B>${name}</B> from selected group`
        );
        $("#confirmDeactiveUser").attr(
          "onClick",
          `deactivateUser('${id}',"",'${user}')`
        );
        $("#deactivateModal").modal("show");
      }

      function deactivateUser(id, name) {
        $("#deactivateModal").modal("hide");
        updateGroupUserStatus(id, 0, getUserGroups, user);
      }

      function deleteButton(id, name, user) {
        $("#deleteConfiramtionMessage").html(
          `you want to remove <B>${name}</B> from selected group`
        );
        $("#confirmDeleteUser").attr("onClick", `deleteUser('${id}','${user}')`);
        $("#deleteModel").modal("show");
      }

      function deleteUser(id, user) {
        $("#deleteModel").modal("hide");
        updateGroupUserStatus(id, 2, getUserGroups, user);
      }

      function activateButton(id, name, user) {
        $("#confirmActivateUser").attr(
          "onClick",
          `activateUser('${id}','${name}','${user}')`
        );
        $("#activateModal").modal("show");
      }

      function activateUser(id, name) {
        $("#activateModal").modal("hide");
        updateGroupUserStatus(id, 1, getUserGroups, user);
      }

      function addUserFriend(userid) {
        $(".loader-main").css("display", "flex")
        $.ajax({
          method: "GET",
          url: `/get-add-user-friend?user=${userid}`,
          success: (response) => {
            handleAddUserList(response, userid);
            $(".loader-main").css("display", "none")
          },
          error: (error) => { },
        });
      }

      function handleAddUserList(response, userid) {
        if (response.success) {
          const { data } = response;
          if (!data.length) {
            $("#addUserFriend").prop("disabled", true);
          } else {
            $("#addUserFriend").prop("disabled", false);
          }
          let options = "";
          for (let i = 0; i < data.length; i++) {
            options += `<option value=${data[i]._id}>${data[i].name}</option>`;
          }
          $("#adduser").html(options);
          $("#adduserid").attr("value", userid);
        }
        $("#addUserModal").modal("show");
      }

      function getUserFriends(user) {
        $(".loader-main").css("display", "flex")
        window.location.hash = "friends";
        user = user || user;
        $.ajax({
          method: "GET",
          url: `/get-user-friends?user=${user}`,
          success: (response) => {
            handleFriendUser(response, user);
            $(".loader-main").css("display", "none")
          },
          error: (error) => {
            $(".loader-main").css("display", "none")
          },
        });
      }

      function handleFriendUser(response, user) {
        let content = "";
        if (!response.data.length) {
          content += `<div class="alert alert-warning text-center" role="alert" style="margin:15px;">
          This user does not have any friends yet.
        </div>`;
          $("#user_friends").html(content);
          return;
        }
        content = handleDataUserTable(response, user);
        $("#user_friends").html(content);
      }

      function handleDataUserTable(response, user) {
        let content = `<thead>
                    <tr>
                      <th>Sr.</th>
                      <th>Name</th>
                      <th>Friendship ID</th>
                      <th>Created</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>`;
        for (let i = 0; i < response.data.length; i++) {
          const row = response.data[i];
          // const type = row.group.type == 0 ? 'Private' : row.group.type == 1 ? 'Public' : 'Password Protected';
          content += `<tr role="row">
        <td> ${i + 1} </td>
        <td>
          <img src="${row.avatar}" class="tabel-user-img">
          <a href="/user-profile?id=${row.userId
            }" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit"> ${row.name
            }</a>
        </td>
        <td>${row._id}</td>
        <td>${dateConverter(row.createdAt)}</td>
        <td>
          <div class="action-button">
            <a href="/user-profile?id=${row.userId}" class="delete-btn">
                <i class="fi fi-rs-eye"></i>
              <span class="tooltiptext">View</span>
            </a>            
            <a href="javascript:void(0)" class="delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="deactivateModal" onClick="unfriendUser(this.id, '${row.name
            }','${user}')" id="${row._id
            }"><i class="fi fi-rs-ban"></i> <span class="tooltiptext">Unfriend</span></a>
          </div>
        </td>
        </tr>`;
        }
        content += `</tbody>`;
        return content;
      }

      function unfriendUser(id, name, user) {
        $("#unfriendConfirmationMessage").html(
          `you want to unfriend <B>${name}</B> from this user`
        );
        $("#confirmUnfriendUser").attr(
          "onClick",
          `changeFriendshipStatus('${id}','${user}')`
        );
        $("#unfriendModal").modal("show");
      }

      function changeFriendshipStatus(id, user) {
        $("#unfriendModal").modal("hide");
        updateFriendshipStatus(id, 0, getUserFriends, user);
      }

      function updateFriendshipStatus(id, status, refreshFunction, user) {
        // console.log("id", id, "status", status);
        const message = status == 0 ? "successfully removed from friend." : "";
        $.ajax({
          type: "POST",
          url: "/update-friendship-status",
          contentType: "application/json",
          data: JSON.stringify({ id: id, user, status: status }),
          success: (response) => {
            toastNotification("success", message);
            refreshFunction && refreshFunction(user);
          },
          error: (error) => {
            toastNotification("danger", error.responseJSON.message);
          },
        });
      }

      function addUserGroup(userid) {
        $(".loader-main").css("display", "flex")
        $.ajax({
          method: "GET",
          url: `/get-add-user-group?id=${userid}`,
          success: (response) => {
            handleGroupList(response, userid);
            $(".loader-main").css("display", "none")
          },
          error: (error) => {
            $(".loader-main").css("display", "none")
          },
        });
      }

      function handleGroupList(response, userid) {
        if (response.success) {
          const { data } = response;
          if (!data.length) {
            $("#addUserGroup").prop("disabled", true);
          } else {
            $("#addUserGroup").prop("disabled", false);
          }
          let options = "";
          for (let i = 0; i < data.length; i++) {
            options += `<option value=${data[i]._id}>${data[i].name}</option>`;
          }
          $("#addGroup").html(options);
          $("#addusergroupid").attr("value", userid);
        }
        $("#addUserGroupModal").modal("show");
      }

      $("#addUserFriend").click((e) => {
        e.preventDefault();
        $("#addUserModal").modal("hide");
        const data = {
          user: $("#adduserid").val(),
          users: $("#adduser").val(),
        };
        $("#adduser").val(null).change();
        $.ajax({
          type: "POST",
          url: "/add-user-friend",
          data: data,
          success: (response) => {
            toastNotification("success", response.message);
            getUserFriends(data.user);
          },
          error: (error) => {
            toastNotification("danger", error.responseJSON.message);
          },
        });
      });

      $("#addUserGroup").click((e) => {
        e.preventDefault();
        $("#addUserGroupModal").modal("hide");
        const data = {
          user: $("#addusergroupid").val(),
          groups: $("#addGroup").val(),
        };

        $("#addUserGroup").val(null).change();
        $.ajax({
          type: "POST",
          url: "/add-user-group",
          data: data,
          success: (response) => {
            toastNotification("success", response.message);
            let options = "";
            $("#addGroup").html(options);
            getUserGroups(data.user);
          },
          error: (error) => {
            toastNotification("danger", error.responseJSON.message);
          },
        });
      });
    </script>